<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="./app.js"></script>
<link rel="stylesheet" type="text/css" href="./style.css">
  <meta charset="utf-8">
  <title>Node api tutorial</title>
</head>
<body>

  <div id='app' ng-app='app' ng-controller='mainCtrl'>

    <div ng-if='!pokemon.length' class='no-pokemon center stretch'>
      <h1 class='h1'>
        Set up your endpoint at `/pokemon` to get this view working
      </h1>
    </div>

    <ul ng-if='pokemon.length' class='list center stretch'>
      <li ng-repeat='p in pokemon' class='pokemon'>
        <h1>{{ p.name }}</h1>
        <img class='avatar' ng-src="{{p.avatarUrl}}" />
      </li>
    </ul>

  </div>

</body>
</html>